.container {
  padding: 14px;
  margin: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  width: 98%;
  height: 90vh;
  font-size: 30px;
  }

.input {
  flex-direction: column;
  display: flex;
  padding: 10px;
  width: 700px;
  background-color: white;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin: 1px;
  height: 35px;
  outline: none;
}

.textarea {
  flex-direction: column;
  display: flex;
  padding: 20px;
  width: 683px;
  background-color: white;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  height: 80px;
  outline: none;
  margin: 2px;
}

.button {
  flex-direction: column;
  display: flex;
  padding: 20px;
  width: 727px;
  background-color: aquamarine;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 1px;
}